.homeBig{
    display: flex;
    align-items: center;
    flex-direction:column;
}
.homeDiv{
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 80%;
    height: 85vh;
    margin: 0 auto;
    background-image: url(C:\Users\user\Documents\GitHub\recipe_recommend\public\img\Home\background.jpg);
}
.homeText{
    margin-top: 65vh;
}
.homeTestBtn{
    
    align-items: center;
    text-align: center;
    margin-top: 10px;
    width: 200px;
    height: 60px;
    line-height : 60px; 
    border-radius: 30%;
    background-color:#2E5E11;
}