.question_box{
     display: flex;
     align-items: center;
     flex-direction:column;
     border: 5px solid ;
    border-color: #26613D;
    border-radius: 6px;
     
     
}
.slider {
    width: 1200vw;
}
.content {
    margin-top: 15vh;
    width: 100vw;
    float: left;
}

.test_question{
    color: #4e4e4e;
    font-size: 1.4rem;
    font-weight: bolder;
    text-align: center;
    
}

.test__btn__box {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 25vh;
    margin: 0 auto;
}

.test__btn {
    display: flex;
    justify-content: center;
    height: 45%;
    align-items: center;
    margin: 1rem;
    padding: 1.2rem;
    box-sizing: border-box;
    background-color: #fff;
    color: rgba(110, 110, 110, 1);
    border: 5px solid ;
    border-color: #26613D;
    border-radius: 6px;
    
    font-weight: 600;
    
}

img{
    
    width: 100px;
    height: 100px;
    margin: 0 auto;
}